<div>
    <h3>Angular Cascading Combobox</h3>

    <span>Tỉnh/Thành phố: </span>
    <select name="" id="city" (change)="changeCity($event)">
        <option *ngFor="let data of vietnam" value="{{ data.city }}">
            {{ data.city }}
        </option>
    </select>

    <div *ngIf="districts.length <= 0; else hasDistrict">
    </div>
</div>

<ng-template #hasDistrict>
    <span>Quận/Huyện: </span>
    <select name="" id="district">
        <option *ngFor="let district of districts">
            {{ district }}
        </option>
    </select>
</ng-template>

<span>Counter = {{ counter }}</span>
<br>
<span>Counter Square = {{ counterSquare }}</span>

